.navbar-wrapper {
  display: flex;
  flex-direction: row;
  padding: 10px 20px;
  justify-content: space-between;
  align-items: center;
  height: 120px;

  .left,
  .middle,
  .right {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
